body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #563D7C;
  box-sizing: content-box;
}

nav {
  background-color: #563D7C;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

nav > ul {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav li {
  list-style: none;
}

nav a {
  padding: 10px;
  background: white;
  text-decoration: none;
}

input {
  font: inherit;
  padding: 10px;
  box-sizing: inherit;
}

button {
  padding: 10px;
  border: 2px solid #563D7C;
  background: white;
  color: #563D7C;
  font: inherit;
}

.wrapper {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 940px;
  text-align: center;
}

a {
  color: #563D7C;
}

i {
  font-size: 40px;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 20px;
}

#resultsList {
  padding: 0;
}

#resultsList li {
  list-style: none;
  margin: 5px auto;
  display: flex;
  align-items: center;
  background: #563D7C;
}

#resultsList h4 {
  margin: 10px;
  color: white;
  width: 200px;
  text-align: left;
}

#resultsList p {
  margin: 0 10px;
  color: white;
  font-style: italic;
}

#resultsList img {
  margin: 5px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
